<p>tip-calculator works!</p>
<div class="d-flex flex-column">
                
    <div class="">
        <p class="text-warning fw-bold mb-1">Bill</p>
        <form>
            <input type="number" class="form-control bg-danger">
        </form>
    </div>

    <div class="">
        <p>
            Select Tip %
        </p>
        <form class="d-flex flex-wrap">
            <div class="px-5">
                <input type="radio">
            </div>
            <div class="px-5">
                <input type="radio">
            </div>
            <div class="px-5">
                <input type="radio">
            </div>
            <div class="px-5">
                <input type="radio">
            </div>
            <div class="px-5">
                <p>Custom</p>
            </div>
        </form>
    </div>

    <div>
        <p>Number of People</p>
        <form>
            <input type="number" class="form-control">
        </form>
    </div>
</div>


<div class="bg-secondary px-3">
    <div class="d-flex justify-content-between">
        <div>
            <h5>Tip Amount</h5>
            <p> / person </p>
        </div>
        <div>
            <h3>$4.27</h3>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <h5>Total</h5>
            <p> / person </p>
        </div>
        <div>
            <h3>$32.79</h3>
        </div>
    </div>
    <div>
        <button type="button">RESET</button>
    </div>
</div>
