.calc-wrapper{
    .form-control {
        border: none;
    }
    
    .bill-amount {
        background: url("../../images/icon-dollar.svg") no-repeat;
        background-position: 5% 50%;
    }
    
    .number-of-people{
        background: url("../../images/icon-person.svg") no-repeat;
        background-position: 5% 50%;
    }
    
    .tip-count{
        width: 100%;
        background-color: $secondary;
        padding: 0.5rem 1.5rem;
        font-size: 1.5rem;
        font-weight: $font-weight-bold;
        color: $white;
    }
    
    .custom-tip{
        border: none;
        width: 100%;
        background-color: $white;
        padding: 0.5rem 1.5rem;
        font-size: 1.5rem;
        font-weight: $font-weight-bold;
    }
}
